.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drum-pad:hover, #toggleButton:hover {
  cursor: pointer;
}

.drum-pad:hover {
  background-color: rgb(145, 137, 137);
  color: white;
  box-shadow: 6px 6px 5px -2px rgb(255, 255, 255);
}

.drum-pad {
  margin: 10px;
  font-size: 40px;
  width: 80px;
  border-radius: 7px;
}

#display-container {
  width: 45%;
  margin: 0 auto;
}

#drum-machine {
  width: 45%;
  margin: 0 auto;
  background-color: #282c34;
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
}

#display {
  padding-top: 19px;
  color: white;
}

#toggleButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
}

h3 {
  margin: 10px;
}